html, body {
    margin: 0;
    padding: 0;
}

.css-o69gx8-MuiCardMedia-root {
    width: 60px !important;
}

.home-container {
    margin: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.home-img {
    height: 250px;
    width: 300px !important;
    margin: auto;
}

.crypto-container {
    margin: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.Cnews-container {
    justify-content: left;
    width: 100%;
}
.css-1f2xuhi-MuiDrawer-docked .MuiDrawer-paper {
    margin-top: 9.5vh;
}

.css-4z0ohv {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.css-1cfjp91-MuiGrid-root>.MuiGrid-item {
    padding-left: 2px !important;
}

.css-109ff21-MuiPaper-root {
    justify-content: center;
    align-items: center;
}

.h-news {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

.stockDiv_1 {
    display: flex;
    align-items: center;
}

.stockPageLogo {
    width: 20vw;
}
